.whnth > :nth-child(1) {
  transform: translateX(-45px);
  background: transparent;
}
.whnth > :nth-child(1):before {
  transform: rotate(45deg) translate(30px, -30px);
}
.whnth > :nth-child(1):after {
  transform: rotate(-45deg) translate(30px, 30px);
}

.wh,
.whnth {
  width: 36px;
  height: 36px;
}

.wh,
.whnth {
  transition: all 0.5s ease-in-out;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 9999px;
  background: #5d31ff;
  transition: all 0.4s ease-in-out;
}

.icon::before {
  transform: translate(-12px, -8px);
}

.icon::after {
  transform: translate(-12px, 8px);
}

.icon {
  transition: all 0.5s ease-in-out;
  width: 24px;
  height: 4px;
  background: #5d31ff;
  border-radius: 9999px;
}
